.hero {
  background: $front_green; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, $front_green , $front_soft_green); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, $front_green , $front_soft_green); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 400px;
  width: 100%;
  padding: 50px;
  padding-top: 0;

  @include respond-to(phone) {padding: 0;}
  @include respond-to(smalltablet) {padding: 0; padding-bottom: 50px;}

  .hero-title {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 100px;
    font-weight: 800;
    padding: 0;
    color: #fff;
    text-align: right;
    margin-bottom: 10px;
    position: relative;
    z-index: 1001;
    clear: both;

    @include respond-to(phone) {font-size: 50px; padding-right: 10px; padding-top: 50px;}
    @include respond-to(smalltablet) {font-size: 50px; padding-right: 50px; padding-left: 50px;}
    @include respond-to(largetablet) {margin-top: 0; padding-top: 80px;}
  }

  .hero-tagline {
    font-size: 200%;
    color: #fff;
    font-family: $sans;
    text-align: right;
    margin-top: 5px;

    @include respond-to(phone) {padding-right: 10px; font-size: 180%;}
    @include respond-to(smalltablet) {padding-right: 50px; padding-left: 50px;}
  }
}

#logo {
  position: absolute;
  width: 300px;
  height: 270px;
  top: 50px;
  left: 100px;

  img {
    width: 100%;
  }

  @include respond-to(phone) {top: 50px; left: 0; width: 80px; height: auto;}
  @include respond-to(smalltablet) {top: 50px; left: 0; width: 100px; height: auto;}
  @include respond-to(largetablet) {top: 0; left: 0; width: 100px; height: auto;}
  @include respond-to(desktop) {top: 0; left: 0; width: 100px; height: auto;}
}
